 @import url('./ui/buttonStyles.css');
 @import url('./ui/formLogin.css');
 @import url('./ui/navbar.css');
 @import url('./ui/dashboard.css');

:root {
  --primary-100: #1e2022;
  --primary-200: #34373b;
  --primary-300: #f0f5f9;
  --accent-100: #788189;
  --accent-200: #e1e4e6;
  --text-100: #1e2022;
  --text-200: #52616b;
  --text-300: #e1e4e6;
  --bg-100: #f0f5f9;
  --bg-200: #c9d6df;
  --bg-300: #bfc7d1;
  --c-riwi: #6b5cff;
  --c-riwi-hover: #5e4cfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

input {
  outline: none;
  border: none;
  padding: 10px;
}

button {
  border: none;
  background-color: var(--accent-100);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-100);
  cursor: pointer;
}

section {
  min-height: 100vh;
}

#app {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.body_login {
  display: flex;
  
}

.bg_lg_desk {
  width: calc(100% - 400px);
  background: var(--accent-100);
}

.header {
  display: none;
}

